.category-wrap {height:325px;margin:0 20px 0 0;}
.category-title-wrap {height:60px; padding:10px 0 0 18px;}
.category-tag-wrap {height:100px; padding:0 0 0 18px;}
.category-article-wrap {height:150px; padding:10px 0 0 18px; line-height:24px;}
.category-article-wrap ul {height:150px; padding:0 0 0 0; margin:0 0 0 0;}
.category-article-wrap ul li a {color:#436EEE}